@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center h-screen w-screen ">
    <h1 class="text-4xl text-white pt-6">Star Wars interactive Wiki</h1>
    <div>
        This will feature a square in the center, with a bog for each type of
        thing that can be searched and a scroll parallax in the center giving
        information.
    </div>
    @* This is going to be real ugly, but absolute position circle with the buttons for getting data. *@
    <div class="flex h-screen w-screen justify-center items-center">
        <div class="bg-primary text-white p-4">
            This is a centered box. Will contain information on clicked image
        </div>
        <btn  class="bg-red-800 text-white hover:bg-slate-500 hover:cursor-pointer">Films</btn>
    </div>
    <div @if (Model.films != null)
    {
        @Model.films
    }>
        
    </div>
    <br />
    To test the concept of fetching data:
    <br />
    @Model.initialFilm

</div>
} 